.container {
  width: 300px;
  font-family: Arial, sans-serif;
}

textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  resize: none;
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid #2b2626;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.counter {
  text-align: right;
  font-size: 15px;
  color: #555;
}
